<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv = "content-language" content = "en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <!-- Favicon start -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <!-- Favicon end -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'login/css/forgot-password.css' %}" />
    <title>Resend verify email</title>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="forgot-password-form">
          <div class="mainText">Welcome to <strong>exchangly.com</strong></div>
          <p class="description">Resend verify email?</p>
          <p class="descriptionText">
            "Don't worry! Just fill in your email, and we'll send you a link to
            verify your email"
          </p>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          <div class="formContainer">
            <form method="post">
              {% csrf_token %}
              <div class="inputContainer">
                <label for="email">
                  <div class="icon">
                    <i class="fas fa-envelope"></i>
                  </div>
                </label>

                <input
                  id="email"
                  placeholder="Email"
                  type="email"
                  name="email"
                  class="input"
                />
              </div>

              <button type="submit">Send Verification Email</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
