<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv = "content-language" content = "en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/css/reset-password.css' %}" />
    <title>Reset your password</title>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="reset-password-form">
          <div class="mainText">Welcome to <strong>exchangly.com</strong></div>
          <p class="description">Reset Password</p>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          <div class="formContainer">
            <form method="post">
              {% csrf_token %}
              <div class="inputContainer">
                <label for="password">
                  <div class="icon">
                    <i class="fas fa-unlock"></i>
                  </div>
                </label>

                <input
                  id="password"
                  placeholder="New Password"
                  type="password"
                  name="password"
                  class="input"
                />
              </div>

              <div class="inputContainer">
                <label for="confirmPassword">
                  <div class="icon">
                    <i class="fas fa-unlock"></i>
                  </div>
                </label>

                <input
                  id="confirmPassword"
                  placeholder="Confirm your Password"
                  type="password"
                  name="confirmPassword"
                  class="input"
                />
              </div>
              <input
                  id="codeId"
                  type="hidden"
                  name="codeId"
                  value="{{code_id}}"
                />
              <input
                  id="code"
                  type="hidden"
                  name="code"
                  value="{{code}}"
                />
              <button type="submit">Change Password</button>
              <br/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
