<!doctype html>
<html lang="en">
<head>
    {% load humanize %}
    {% load %}
    {% load price_format %}
    {% load currency_symbol %}
    <title>exchangly.com - Send Emails</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv = "content-language" content = "en">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="exchangly.com - Mails Marketing">
    <meta name="keywords" content="Mails Marketing">

    {% load static %}
    <!-- Favicon start -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <!-- Favicon end -->

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- Main css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

    <!-- Nav Menu -->

    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="">
							<span style="color:white; font-weight:bold; font-size:25px">exchangly.com</span>
							<!--<img src="images/logo.png" class="img-fluid" alt="logo">-->
						</a> 
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a class="nav-link active" href="#home">HOME <span class="sr-only">(current)</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#features">FEATURES</a> </li>
                                <!--<li class="nav-item"> <a class="nav-link" href="#gallery">GALLERY</a> </li>-->
                                <li class="nav-item"> <a class="nav-link" href="#pricing">PRICING</a> </li>
                                <!--<li class="nav-item"> <a class="nav-link" href="#contact">CONTACT</a> </li>
                                <li class="nav-item"><a href="#" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Download</a></li>-->
                                {% if logged_in %}
                                <li class="nav-item"><a href="https://app.exchangly.com" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">My Dashboard</a></li>
								{% else %}
                                <li class="nav-item"><a href="/login" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Login</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
	
	<script>
		document.onreadystatechange = function () {
			if (document.readyState == "complete") {
				typeUntype("myid", ["build emails", "automate emails", "track emails"]);
			}
		}
		function typeUntype(elem, lines, lineNumber=0, chr=0, direction=1)
		{
			/*console.log("elem: " + elem);
			console.log("lines: " + lines);
			console.log("lineNumber: " + lineNumber);
			console.log("chr:" + chr);*/
			
			if(direction == 1)
			{
				//console.log("Direction 1:" + lines[lineNumber].substr(0, chr));
				document.getElementById(elem).innerHTML = lines[lineNumber].substr(0, chr);
				chr++;
				if(chr > lines[lineNumber].length)
				{
					direction = -1;					
				}
			} else {
				//console.log("Direction -1:" + lines[lineNumber].substr(0, chr));
				document.getElementById(elem).innerHTML = lines[lineNumber].substr(0, chr);
				chr--;
				if (chr == 0) 
				{
					lineNumber++;
					direction = 1;
				}
			}
			
			if(lineNumber == lines.length)
			{
				// return;
				lineNumber = 0;
			}
			
			setTimeout(function() 
			{
				typeUntype(elem, lines, lineNumber, chr, direction)
			}, 150);
		}
	</script>


    <header class="bg-gradient" id="home">
        <div class="container mt-5">
            <h1>Send and <span id="myid">build emails</span> <span class="blinking-cursor"> | </span></h1>
            <p class="tagline">exchangly.com is a comprehensive toolbox for creating, automating, and tracking email marketing campaigns with AI-powered capabilities.</p>
			<div class="card-body">
				<a href="#pricing" class="btn btn-primary btn-lg btn-block">Get started</a>
			</div>
        </div>
        <div class="img-holder mt-3"><img src="../../static/images/mails.png" alt="phone" class="img-fluid"></div>
    </header>
	
	<!--
    <div class="client-logos my-5">
        <div class="container text-center">
            <img src="images/client-logos.png" alt="client logos" class="img-fluid">
        </div>
    </div>
	-->

    <div class="section light-bg" id="features">


        <div class="container">

            <div class="section-title">
                <small>HIGHLIGHTS</small>
                <h3>Features you love</h3>
            </div>


            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Mail Builder</h4>
                                    <p class="card-text">Opt for AI-generated mail templates or craft personalized messages using our AI-powered mail builder tool.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-settings gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Smart Scheduling</h4>
                                    <p class="card-text">Take control of your email outbox with AI powered smart scheduling to deliver messages at the perfect time.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-lock gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Tracking Insights</h4>
                                    <p class="card-text">Track your emails with metrics and feed AI engine for optimized outreach.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
    <!-- // end .section -->
    <!--
	<div class="section">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="box-icon"><span class="ti-mobile gradient-fill ti-3x"></span></div>
                    <h2>Discover our App</h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati vel exercitationem eveniet vero maxime ratione </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
            <div class="perspective-phone">
                <img src="images/perspective.png" alt="perspective phone" class="img-fluid">
            </div>
        </div>

    </div>
	-->
    <!-- // end .section -->


    <!--<div class="section light-bg">
        <div class="container">
            <div class="section-title">
                <small>FEATURES</small>
                <h3>Do more with our app</h3>
            </div>

            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#communication">Communication</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#schedule">Scheduling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#messages">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#livechat">Live Chat</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="communication">
                    <div class="d-flex flex-column flex-lg-row">
                        <img src="images/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                        <div>

                            <h2>Communicate with ease</h2>
                            <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                                congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                            </p>
                            <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                                sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="schedule">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Scheduling when you want</h2>
                            <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                                congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                            </p>
                            <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                                sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                            </p>
                        </div>
                        <img src="images/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>
                <div class="tab-pane fade" id="messages">
                    <div class="d-flex flex-column flex-lg-row">
                        <img src="images/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                        <div>
                            <h2>Realtime Messaging service</h2>
                            <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                                congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                            </p>
                            <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                                sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="livechat">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Live chat when you needed</h2>
                            <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                                congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                            </p>
                            <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                                sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                            </p>
                        </div>
                        <img src="images/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>
            </div>


        </div>
    </div>-->
    <!-- // end .section -->
	<!--
    <div class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="images/dualphone.png" alt="dual phone" class="img-fluid">
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div>
                        <div class="box-icon"><span class="ti-rocket gradient-fill ti-3x"></span></div>
                        <h2>Launch your App</h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati vel exercitationem eveniet vero maxime ratione </p>
                        <a href="#" class="btn btn-primary">Read more</a></div>
                </div>
            </div>

        </div>

    </div>
	-->
    <!-- // end .section -->


    <!--<div class="section light-bg">

        <div class="container">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    <ul class="list-unstyled ui-steps">
                        <li class="media">
                            <div class="circle-icon mr-4">1</div>
                            <div class="media-body">
                                <h5>Create an Account</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium obcaecati vel exercitationem </p>
                            </div>
                        </li>
                        <li class="media my-4">
                            <div class="circle-icon mr-4">2</div>
                            <div class="media-body">
                                <h5>Share with friends</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium obcaecati vel exercitationem eveniet</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="circle-icon mr-4">3</div>
                            <div class="media-body">
                                <h5>Enjoy your life</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium obcaecati vel exercitationem </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img src="images/iphonex.png" alt="iphone" class="img-fluid">
                </div>

            </div>

        </div>

    </div>-->
	
    <!-- // end .section -->

	<!--
    <div class="section">
        <div class="container">
            <div class="section-title">
                <small>TESTIMONIALS</small>
                <h3>What our Customers Says</h3>
            </div>

            <div class="testimonials owl-carousel">
                <div class="testimonials-single">
                    <img src="images/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
                <div class="testimonials-single">
                    <img src="images/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
                <div class="testimonials-single">
                    <img src="images/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
            </div>

        </div>

    </div>
	-->
    <!-- // end .section -->

	<!--
    <div class="section light-bg" id="gallery">
        <div class="container">
            <div class="section-title">
                <small>GALLERY</small>
                <h3>App Screenshots</h3>
            </div>

            <div class="img-gallery owl-carousel owl-theme">
                <img src="images/screen1.jpg" alt="image">
                <img src="images/screen2.jpg" alt="image">
                <img src="images/screen3.jpg" alt="image">
                <img src="images/screen1.jpg" alt="image">
            </div>

        </div>

    </div>
	-->
    <!-- // end .section -->





    <div class="section" id="pricing">
        <div class="container">
            <div class="section-title">
                <small>PRICING</small>
                <h3>Become a Pro</h3>
            </div>

            <div class="card-deck">
                {% for plan in plans %}
                <div class="card pricing">
                    <div class="card-head">
                        <small class="text-primary">{{plan.title}}</small>
                        {% for option in plan.options %}
                        <span class="price">{{option.currency|currency_symbol}}{{option.price|price_format}} <sub><small>{{option.option_type}}</small></sub></span>
                        {% endfor %}
                    </div>
                    <ul class="list-group list-group-flush">
                        {% if plan.features.emails %}
                            <div class="list-group-item">
							    <strong>Up to {{plan.features.emails|intcomma}}</strong><br/>
							    emails/month
						    </div>
                        {% else %}
                            <div class="list-group-item">
							    <del><strong>0</strong><br/>
                                    emails/month</del>
						    </div>
                        {% endif %}

                        {% if plan.features.contacts %}
                            <div class="list-group-item">{{plan.features.contacts}} contacts</div>
                        {% else %}
                            <div class="list-group-item"><del>{{plan.features.contacts}} contacts</del></div>
                        {% endif %}

<!--                        {% if plan.features.SendingPlatformIntegration %}-->
<!--                            <div class="list-group-item">Sending platform integration</div>-->
<!--                        {% else %}-->
<!--                            <div class="list-group-item"><del>Sending platform integration</del></div>-->
<!--                        {% endif %}-->

                        {% if plan.features.NoDailySendingLimit %}
                            <div class="list-group-item">No daily sending limit</div>
                        {% else %}
                            <div class="list-group-item"><del>No daily sending limit</del></div>
                        {% endif %}

                        {% if plan.features.emailSupport %}
                            <div class="list-group-item">Email support</div>
                        {% else %}
                            <div class="list-group-item"><del>Email support</del></div>
                        {% endif %}

                        {% if plan.features.phoneSupport %}
                            <div class="list-group-item">Phone support</div>
                        {% else %}
                            <div class="list-group-item"><del>Phone support</del></div>
                        {% endif %}
                    </ul>
                    <div class="card-body">
                        <a href="/signup" class="btn btn-primary btn-lg btn-block">Signup</a>
                    </div>
                </div>
                {% endfor %}
                <!--
				<div class="card pricing">
                    <div class="card-head">
                        <small class="text-primary">Free</small>
                        <span class="price">$0<sub>/mo</sub></span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item">
							<strong>Up to 2500</strong><br/>
							emails/month
						</div>
                        <div class="list-group-item">2500 contacts</div>
                        <div class="list-group-item">Sending platform integration</div>
                        <div class="list-group-item"><del>No daily sending limit</del></div>
                        <div class="list-group-item"><del>Email support</del></div>
                        <div class="list-group-item"><del>Phone support</del></div>
                    </ul>
                    <div class="card-body">
                        <a href="/signup" class="btn btn-primary btn-lg btn-block">Signup</a>
                    </div>
                </div>
                <div class="card pricing">
                    <div class="card-head">
                        <small class="text-primary">Lite</small>
                        <span class="price">$5<sub>/mo</sub></span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item">
							<strong>Up to 20,000</strong><br/>
							emails/month
						</div>
                        <div class="list-group-item">20,000 contacts</div>
                        <div class="list-group-item">Sending platform integration</div>
                        <div class="list-group-item">No daily sending limit</div>
                        <div class="list-group-item"><del>Email support</del></div>
                        <div class="list-group-item"><del>Phone support</del></div>
                    </ul>
                    <div class="card-body">
                        <a href="/signup" class="btn btn-primary btn-lg btn-block">Choose this Plan</a>
                    </div>
                </div>
                <div class="card pricing popular">
                    <div class="card-head">
                        <small class="text-primary">Standard</small>
                        <span class="price">$25<sub>/mo</sub></span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item">
							<strong>Up to 100,000</strong><br/>
							emails/month
						</div>
                        <div class="list-group-item">100,000 contacts</div>
                        <div class="list-group-item">Sending platform integration</div>
                        <div class="list-group-item">No daily sending limit</div>
                        <div class="list-group-item">Email support</div>
                        <div class="list-group-item"><del>Phone support</del></div>
                    </ul>
                    <div class="card-body">
                        <a href="/signup" class="btn btn-primary btn-lg btn-block">Choose this Plan</a>
                    </div>
                </div>
                <div class="card pricing">
                    <div class="card-head">
                        <small class="text-primary">Premium</small>
                        <span class="price">$65<sub>/mo</sub></span>
                    </div>
                     <ul class="list-group list-group-flush">
                        <div class="list-group-item">
							<strong>Up to 1 million</strong><br/>
							emails/month
						</div>
                        <div class="list-group-item">1 million contacts</div>
                         <div class="list-group-item">Sending platform integration</div>
                        <div class="list-group-item">No daily sending limit</div>
                        <div class="list-group-item">Email support</div>
                        <div class="list-group-item">Phone support</div>
                    </ul>
                    <div class="card-body">
                        <a href="/signup" class="btn btn-primary btn-lg btn-block">Choose this Plan</a>
                    </div>
                </div>
                -->
            </div>
            <!-- // end .pricing -->


        </div>

    </div>
    <!-- // end .section -->


    <div class="section pt-0">
        <div class="container">
            <div class="section-title">
                <small>FAQ</small>
                <h3>Frequently Asked Questions</h3>
            </div>
            <div class="row pt-4">
				<div class="col-md-6">
                    <h4 class="mb-3">Can I get exchangly.com for free?</h4> 
                    <p class="light-font mb-5">
                        No, all the plans are paid and as a beginner you can start with our Lite plan.
                        You can still explore our app using the <strong>demo login credentials</strong>.
                        <strong>exchangly.com</strong> already provides premium quality service at a very competitive price.
                    </p>
                    <h4 class="mb-3">What happens to unsubscribed emails?</h4>
                    <p class="light-font mb-5">When a user clicks on unsubscribe link, exchangly.com marks it as unsubscribed for you. He/She will not receive any future emails from your account. </p>
                </div>
                <div class="col-md-6">
                    <h4 class="mb-3">Will my exchangly.com mails go to spam folder?</h4>
                    <p class="light-font mb-5">If you are sending too many emails beyond a certain threshold then a flag may be raised to put your mails in spam. exchangly.com has fully adapted email standards and do its best to avoid spaming emails. When you send email via exchangly.com, it is sent through your Integrated Sending Platform. If one person sends a spam, it might effect emails of other users.</p>
                    <h4 class="mb-3">What payment methods do you accept?</h4>
                    <p class="light-font mb-5">The Choose Plan option will redirect you to Payment Gateway page where you can choose the available payment options. </p>
                </div>
            </div>
        </div>
    </div>
    <!-- // end .section -->



    <!--<div class="section bg-gradient">
        <div class="container">
            <div class="call-to-action">

                <div class="box-icon"><span class="ti-mobile gradient-fill ti-3x"></span></div>
                <h2>Download Anywhere</h2>
                <p class="tagline">Available for all major mobile and desktop platforms. Rapidiously visualize optimal ROI rather than enterprise-wide methods of empowerment. </p>
                <div class="my-4">

                    <a href="#" class="btn btn-light"><img src="images/appleicon.png" alt="icon"> App Store</a>
                    <a href="#" class="btn btn-light"><img src="images/playicon.png" alt="icon"> Google play</a>
                </div>
                <p class="text-primary"><small><i>*Works on iOS 10.0.5+, Android Kitkat and above. </i></small></p>
            </div>
        </div>

    </div>-->
    <!-- // end .section -->

    <!--<div class="light-bg py-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> 1485 Pacific St, Brooklyn, NY 11216 USA</p>
                    <div class=" d-block d-sm-inline-block">
                        <p class="mb-2">
                            <span class="ti-email mr-2"></span> <a class="mr-4" href="mailto:support@mobileapp.com">support@mobileapp.com</a>
                        </p>
                    </div>
                    <div class="d-block d-sm-inline-block">
                        <p class="mb-0">
                            <span class="ti-headphone-alt mr-2"></span> <a href="tel:51836362800">518-3636-2800</a>
                        </p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="social-icons">
                        <a href="#"><span class="ti-facebook"></span></a>
                        <a href="#"><span class="ti-twitter-alt"></span></a>
                        <a href="#"><span class="ti-instagram"></span></a>
                    </div>
                </div>
            </div>

        </div>

    </div>-->
    <!-- // end .section -->
    <footer class="my-5 text-center">
        <!-- Copyright removal is not prohibited! -->
        <p class="mb-2"><small>COPYRIGHT © 2022. ALL RIGHTS RESERVED. exchangly.com TEMPLATE BY <a href="https://colorlib.com">COLORLIB</a></small></p>

        <!--<small>
            <a href="#" class="m-2">PRESS</a>
            <a href="#" class="m-2">TERMS</a>
            <a href="#" class="m-2">PRIVACY</a>
        </small>-->
    </footer>

    <!-- jQuery and Bootstrap -->
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/bootstrap.bundle.min.js"></script>
    <!-- Plugins JS -->
    <script src="../../static/js/owl.carousel.min.js"></script>
    <!-- Custom JS -->
    <script src="../../static/js/script.js"></script>

</body>

</html>
